body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: row;  
}

h2 {
  margin-left: 20px;
}

.Book-Author {
  margin-left: 30px;
}

.btn {
  margin-left: 30px;
}

.input-form {
  margin-left: 20px;
}

.headerHr {
  color: green;
  height: 5px;
  background-color: green;
}
